# 1.1

In [191]:
lst = [2,3,4,5]

In [36]:
def my_reduce(var1, var2):
    sv=0
    for i in range(0,len(var2)):
        if (i<len(var2)-1):
            sv=var2[i]
            sv = var1(sv,var2[i+1])
            print(sv)
        
        
    return sv

In [37]:
my_reduce(lambda a,b: a+b,lst)

5
7
9

9

In [44]:
def my_reduce(var1, var2):
    sv=var2[0]
    for i in range(0,len(var2)):
        if (i<len(var2)-1):
            sv = var1(sv,var2[i+1])     
    return sv

In [45]:
my_reduce(lambda a,b: a+b,lst)

14

In [46]:
my_reduce(lambda a,b: a-b,)

-10

# 1.2

In [123]:
lst

[2, 3, 4, 5]

In [181]:
def my_filter(var1, var2):
    new_lst = []
    for i in range(0, len(var2)):
        st = var1(i)
        if st is True:
            fa = new_lst.append(var2[i]) 
    print(new_lst)

In [190]:
my_filter(lambda x:x%2==0, lst)

[2, 4]

# 2

In [193]:
lst2 = ["x","y","z"]
num = 4

In [226]:
[i*j for i in lst2 for j in range(1,num+1)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [223]:
[i*j for i in range(1,num+1) for j in lst2]

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [13]:
[[i+j] for i in range(2,5) for j in range(3)]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [45]:
[[i+j for i in range(2,6)] for j in range(4)]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [256]:
[(y,x) for x in range(1,4) for y in range(1,4)]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]